{{define "footer"}}
<footer>
  <br><br><hr>
  <p class="text-center">
    2016
    &nbsp;&nbsp;
    <a href="https://github.com/cleesmith/pakquery" target="_blank">pakquery</a>
    &nbsp;&nbsp;
    by Chris Smith
  </p>
</footer>
{{end}}
