<ul class="nav navbar-nav">
  <li><a href="{{.BaseURI}}records">Records</a></li>
</ul>
<ul class="nav navbar-nav">
  <li><a href="{{.BaseURI}}help">Help</a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li><a href="{{.BaseURI}}" style="color:dodgerblue">pakquery</a></li>
</ul>
